body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}
body.dark-mode .conteudo-principal {
    background-color: #121212;
    color: #e0e0e0;
}
body.dark-mode header {
    background-color: #0f2e4a;
}

body.dark-mode .card {
    background: #1e1e1e;
    color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

body.dark-mode footer {
    background-color: #0f2e4a;
}

body.dark-mode .conteudo-principal h1 {
    color: white;
}
body.dark-mode .conteudo-principal h2 {
    color: white;
}
body.dark-mode .conteudo-principal h3 {
    color: white;
}

header {
    width: 100%;
    height: 11%;
    background-color: transparent;
}

nav {
    height: 100%;
    width: 100%;
    background-color: #225378;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
}

main {
    width: 100%;
    background-color: whitesmoke;
}

footer {
    width: 100%;
    height: 10%;
    background-color: #1f4e6d;
    color: white;
}

.logo {
    background-color: transparent;
    color: white;
    width: 20%;
    height: 90%;
    display: flex;
    justify-content: center;
}

.logo img {
    height: 100%;
    width: auto;
}

.caixa_botoes { 
    width: 55%;
    height: 75%;
    background-color: transparent;
}

.botao_geral {
    margin-left: 1.5%;
    width: 20%;
    height: 100%;
    font-size: 15px;
    cursor: pointer;
    background-color: #225378;
    border: none;
    color: white;
    transition: background-color 0.4s, color 0.4s;
    font-weight: bold;
}

.botao_geral:hover {
    background-color: white;
    color: #225378;
}

.conteudo-principal {
    max-width: 900px;
    margin: 50px auto;
    padding: 0 20px;
    background-color: #ffffff;
    border-radius: 8px;
    transition: 0.3s;
}

/* Seções */
.conteudo-principal section {
    margin-bottom: 40px;
}

/* Títulos */
.conteudo-principal h1,
.conteudo-principal h2 {
    color: #1f4e6d;
    text-align: center;
    margin-bottom: 20px;
}

.conteudo-principal h3 {
    color: #1f4e6d;
    text-align: left;
    margin-bottom: 20px;
}

/* Parágrafos */
.conteudo-principal p {
    font-size: 1.1em;
    line-height: 1.6;
    text-align: justify;
}

/* Lista */
.conteudo-principal ul {
    list-style: disc;
    padding-left: 20px;
}

.conteudo-principal li {
    margin-bottom: 10px;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    align-items: center;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card i {
    font-size: 30px;
    color: #0d6efd;
    margin-bottom: 10px;
}

.card a {
    text-decoration: none;
    color: inherit;
}

/* Rodapé */
footer {
    background-color: #16466e;
    color: white;
    text-align: center;
    padding: 15px 0;
}

.botaoDark {
    width: 5%;
    height: 70%;
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-left: 3%;
}
.botaoDark:hover {
    transform: translateY(-5px);
}